{% extends 'base1.html' %}
{% load static %}

 {% block title %} Update Exams {% endblock %}
 
 {% block content %}
 <!DO
 <head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
 </head>
 <div class="wrapper">
 
   <!-- Content Wrapper. Contains page content -->
   <div class="content-wrapper">
     <!-- Content Header (Page header) -->
     <section class="content-header">
       <h1>
         Staff DashBoard-Modify Examinations
       </h1>
     </section>
 
     <!-- Main content -->
     <section class="content container-fluid">
 
       <!--------------------------
         | Your Page Content Here |
         -------------------------->
         <div class="container-fluid">

           
         <div class="box box-info">
             <div class="box-header with-border">
               <h3 class="box-title">Modify exam details</h3>
             </div>
             <!-- /.box-header -->
             <!-- form start -->
             <form class="form-horizontal" action="{% url 'UMS_app:modify_exam' %}" method="POST">
                <div class="card-body">
                 <div class="form-group">
                   <label for="inputName" class="col-sm-2 control-label">Name</label>
                     <input class="form-control" id="inputName" value="{{ result.exam_name }}" type="text" name="exam_name" required>
                     <input type="hidden" name="id" value="{{ result.id }}" required>
 
                 </div>
                 <div class="form-group">
                   <label for="inputName" class="col-sm-2 control-label">Description</label>
                     <input class="form-control" id="inputDescription" value="{{ result.description }}" name="description" required>
                 </div>
                 <div class="form-group">
                  <label for="inputName" class="col-sm-2 control-label">Subject</label>
                    <select class="form-control" name="subject_id" required>
                          <option value = "" disabled selected value>Select</option>
                   {% for i in subjects %}
                      {% if i.id == result.subject_id.id %}
                        <option value = {{i.id}} selected="selected">{{i.subject_name}}</option>
                      {% else %}
                        <option value = {{i.id}}>{{i.subject_name}}</option>
                      {% endif %}
                   {% endfor %}
                  </select>
                </div>
 
                 <div class="form-group">
                   <label for="inputName" class="col-sm-2 control-label">Year</label>
                     <input class="form-control" id="inputFaculty" value="{{ result.year }}" type="text" name="year" required>
                   <label for="inputName" class="col-sm-2 control-label">Status</label>
                     <select class="form-control" name="status" required>
                    {% if result.status == 1 %}
                    <option value="1" selected="selected"> Active </option>
                    <option value="0"> Inactive </option>
                    {% elif result.status == 0 %}
                    <option value="1"> Active </option>
                    <option value="0" selected="selected"> Inactive </option>
                    {% endif %}
                     </select>
                 </div>
                 <!--
                 <div class="form-group">
                   <div class="col-sm-6">
                     <input class="form-control" id="inputStartDateTime" placeholder="Start datetime" type="text">
                   </div>
                   <div class="col-sm-6">
                     <input class="form-control" id="inputEndDateTime" placeholder="End datetime" type="text">
                   </div>
                 </div>
                 -->
 
                 <div class="form-group">
                   <label for="startDate" class="col-sm-2 control-label">Start Date</label>
                     <input class="form-control" id="startDate" type="date" name="startDate" value="{{start_date}}" required>
                   <label for="endDate" class="col-sm-2 control-label">End Date</label>
                     <input class="form-control" type="date" name="endDate" id="endDate" value="{{end_date}}" required>
                 </div>
 
                 <div class="form-group">
                   <label for="startTime" class="col-sm-2 control-label">Start Time</label>
                     <input class="form-control" id="startTime" placeholder="hh:mm:ss" type="text" name="startTime" value = "{{start_time}}" required>
                   <label for="endTime" class="col-sm-2 control-label">End Time</label>
                     <input class="form-control" type="text" name="endTime" id="endTime" placeholder="hh:mm:ss" value = "{{end_time}}"required>
                 </div>
 
                 <div class="form-group">
                   <label for="inputPassPercentage" class="col-sm-2 control-label">Pass percentage</label>
                     <input class="form-control" id="inputPassPercentage" placeholder="Pass Percentage" type="text" value="{{ result.pass_percentage }}" name="pass_percentage" required>
                   <label for="inputMaxNoOfQuestions" class="col-sm-2 control-label">Max No. Of Questions</label>
                     <input class="form-control" id="inputMaxNoOfQuestions" placeholder="Max No. Of Questions" type="text" value="{{ result.no_of_questions }}" name="no_of_questions" required>
                   <label for="inputAttemptsAllowed" class="col-sm-2 control-label">Attempts Allowed</label>
                     <input class="form-control" id="inputAttemptsAllowed" placeholder="Attempts Allowed" type="text" value="{{ result.attempts_allowed }}" name="attempts_allowed" required>
                 </div>
 
               </div>
               <!-- /.box-body -->
               <div class="card-footer">
                 <button type="submit" class="btn btn-info pull-right">Modify examination</button>
               </div>
               <!-- /.box-footer -->
             </form>
           </div>
           </div>
           <div class="col-lg-3"></div></div>
 
     </div>
     </section>
   {% if message %}
           <div class="alert alert-success">
               <p>{{message}}</p>
             </div>
             {% elif wrong_message %}
             <div class="alert alert-danger">
               <p>{{wrong_message}}</p>
             </div>
           {% endif %}
 </div>
 <script>
   $(function () {
     //Initialize Select2 Elements
     $('.select2').select2()
 
     //Datemask dd/mm/yyyy
     $('#datemask').inputmask('dd/mm/yyyy', { 'placeholder': 'dd/mm/yyyy' })
     //Datemask2 mm/dd/yyyy
     $('#datemask2').inputmask('mm/dd/yyyy', { 'placeholder': 'mm/dd/yyyy' })
     //Money Euro
     $('[data-mask]').inputmask()
 
     //Date range picker
     $('#reservation').daterangepicker()
     //Date range picker with time picker
     $('#reservationtime').daterangepicker({ timePicker: true, timePickerIncrement: 30, format: 'MM/DD/YYYY h:mm A' })
     //Date range as a button
     $('#daterange-btn').daterangepicker(
       {
         ranges   : {
           'Today'       : [moment(), moment()],
           'Yesterday'   : [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
           'Last 7 Days' : [moment().subtract(6, 'days'), moment()],
           'Last 30 Days': [moment().subtract(29, 'days'), moment()],
           'This Month'  : [moment().startOf('month'), moment().endOf('month')],
           'Last Month'  : [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
         },
         startDate: moment().subtract(29, 'days'),
         endDate  : moment()
       },
       function (start, end) {
         $('#daterange-btn span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'))
       }
     )
 
     //Date picker
     $('#datepicker').datepicker({
       autoclose: true
     })
 
     //iCheck for checkbox and radio inputs
     $('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
       checkboxClass: 'icheckbox_minimal-blue',
       radioClass   : 'iradio_minimal-blue'
     })
     //Red color scheme for iCheck
     $('input[type="checkbox"].minimal-red, input[type="radio"].minimal-red').iCheck({
       checkboxClass: 'icheckbox_minimal-red',
       radioClass   : 'iradio_minimal-red'
     })
     //Flat red color scheme for iCheck
     $('input[type="checkbox"].flat-red, input[type="radio"].flat-red').iCheck({
       checkboxClass: 'icheckbox_flat-green',
       radioClass   : 'iradio_flat-green'
     })
 
     //Colorpicker
     $('.my-colorpicker1').colorpicker()
     //color picker with addon
     $('.my-colorpicker2').colorpicker()
 
     //Timepicker
     $('.timepicker').timepicker({
       showInputs: false
     })
   })
 </script>
 {%endblock%}