<html lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Title -->
  <title>{%block title%}{%endblock%}</title>

  <!-- Favicon -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/student_home1/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/student_apply_leave/">LeaveApply</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/student_view_result/">ViewResult</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
           Exams</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'UMS_app:exams' %}">Examination</a></li>
            <li><a class="dropdown-item" href="{% url 'UMS_app:progress' %}">Progress</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'UMS_app:assignment-list1' %}">Assignment</a>
        </li>
        <li class="nav-item">
        {% url 'UMS_app:student_view_attendance' as student_view_attendance %}
            {% url 'UMS_app:student_view_attendance_post' as student_view_attendance_post %}
          <a class="nav-link active" aria-current="page" href="/student_view_attendance/">ViewAttendance</a>
        </li>
      </ul>
      <div>
    <div>
    <a href="/logout_user">
	  <button type="button" class="btn btn-success" data-toggle="modal" data-target="#logoutModal">LogOut</button>
    </a>
    </div>
    </div>
  </div>
</nav>


       {% block content %}{% endblock %}
       <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
<footer class="page-footer font-small blue" style="background-color:lightblue;">
  <div class="footer-copyright text-center py-3">© 2021 Copyright All Rights Reserved
  </div>

</footer>
</body>
{%block scripts%} {%endblock%}
</html>